C++/
# 가상환경
venv/
env/
.env

# Python 캐시 파일
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django 관련
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDE 관련
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# 테스트, 캐시, 커버리지 관련
htmlcov/
.tox/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover

# 배포 관련
*.mo
*.pot